target
*.ids
*.iml
*.ipr
*.iws
.classpath
.idea
*.tld
*plugin.xml
stacktrace.log
solr/enterprise/data/index/
out/
database/
cobertura.ser
*.DS_Store
mycroft-dev-db.h2.db
mycroft-dev-db.lock.db
derby.log
web-app/WEB-INF/lib/
web-app/WEB-INF/web.xml
web-app/logs/
web-app/repositories/
.project
.settings
grails-app/conf/mycroft-config.groovy
*.ser
CodeNarcReport.html
web-app/orders/*
web-app/images/profile/*
web-app/images/userUploads/*
web-app/images/product/*
solr/vin/data/*
web-app/templates/samples-controls/
web-app/templates/samples-media/
web-app/templates/dms/
web-app/tmp/
web-app/cache/
localDbDumps/
logs/*

scheduler/target
*.rdb
.env
a.sh
local.env
localDeploy.sh
.gradle/
build/
buildPlugins/
.sass-cache
.sass-work
.jruby-container
.asscache
.slcache
/coverage/
/node_modules/
prodDb.h2.db
prodDb.lock.db